<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Custom Theme files -->
    <link href="~/AdminCss/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Muhammad Din Nuersery Farm" />
    <!--Google Fonts-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->
</head>
<body>
    <!--header start here-->
    <div class="login-form">
        <div class="top-login">
            <span><img src="../AdminImg/group.png" alt="" /></span>

        </div>
        <h1>Add User</h1>
        <h1 style="color:red">@TempData["message"]</h1>
        <div class="login-top">
            <form method="post" action="~/Admin/AU">
                <div class="login-ic">
                    <i></i>
                    <input type="text" name="name" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}" />
                    <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />
                    <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" name="cpassword" value="Conform Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />
                    <div class="clear"> </div>
                </div>

                <div class="log-bwn">
                    <input type="submit" value="Create">
                </div>
            </form>
        </div>
        <p class="copy">© 2016 Muhammad Din Nuersery Farm . All rights reserved | Design by  <a href="http://Developers.mdinnursery.com/" target="_blank">Muhammad Saleem Sharif</a></p>
    </div>
    <!--header start here-->
</body>
</html>