<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/themes/2/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="~/themes/2/js-image-slider.js" type="text/javascript"></script>
    <link href="~/css/generic.css" rel="stylesheet" type="text/css" />
</head>
<body>

    
        
            <div id="theCarousel" class="carousel slide" data-ride="carousel">

                <div id="sliderFrame">
                    
                            <div id="slider">
                                <img src="../images/bonsai.jpg" title="Welcome Muhammad Din Nursery Farm" />
                                <a class="lazyImage" href="../images/crip.jpg" title="Muhammad Din Nursery Farm.">Pure JavaScript</a>
                                <a href=""><b data-src="../images/loutdoor.jpg" title="Place online order">Image Slider</b></a>
                                <a class="lazyImage" href="../images/nindoor.jpg" title="Contect: 03015740682">Slide 4</a>
                            </div>
                            <!--thumbnails-->
                            <div id="thumbs">
                                <div class="thumb">
                                    <div class="frame"><img src="../images/bonsai.jpg" /></div>
                                    <div class="thumb-content"><p>Bonsai</p>Best Plant used for decoration</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <a href="~/Home/criper">
                                    <div class="thumb">
                                        <div class="frame"><img src="../images/scrip.jpg" /></div>
                                        <div class="thumb-content"><p>Criper</p>Mostle used to decrate buildings</div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </a>
                                <div class="thumb">
                                    <div class="frame"><img src="../images/outdoor1.jpg" /></div>
                                    <div class="thumb-content"><p>Outdoor</p>Used for shadow and outdoor beauty</div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="thumb">
                                    <div class="frame"><img src="../images/nindoor.jpg" /></div>
                                    <div class="thumb-content"><p>Indoor</p>Used for Inside beauty of house</div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                            <!--clear above float:left elements. It is required if above #slider is styled as float:left. -->
                            <div style="clear:both;height:0;"></div>
                        </div>
                </div>
            
</body>
</html>
